@import '../../global.scss';

.signUp {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 6rem;

  .wrap {
    padding: 1rem;

    .title {
      font-size: 2.2rem;
      line-height: 1;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0 auto;
      color: $mediumText;
    }

    button {
      margin-top: 20px;
    }

    span {
      color: red;
    }

    .formWrap {
      margin: 3rem auto 0;
    }
  }
}
