@import '../../global.scss';

.productsContainer {
  padding: 20px 0;

  .productsTitle {
    margin-bottom: 0px;
    color: $mediumText;
  }

  .selectBoxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    @include media-breakpoint-between(sm, md) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }

    .product {
      .thumb {
        height: 150px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-bottom: 20px;

        img {
          max-width: 100%;
          max-height: 150px;
          object-fit: cover;
          border-radius: 5px;
          align-self: center;
        }
      }

      .details {
        padding: 10px 5px 15px 5px;

        a {

          .name {
            margin: 0px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            line-height: 24px;
            font-weight: 100;
            letter-spacing: 0.2px;
            white-space: normal;
            overflow: hidden;
            height: 48px;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
          }
        }

        .price {
          font-size: 2.0rem;
          line-height: 2.4rem;
          font-weight: bolder;
          padding: 10px 5px;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    .paginationWraper {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 300px;

      span {
        padding: 4px 5px;
      }
    }
  }
}
