@import '../../global.scss';

.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0 2rem;
  margin: 0;
  background-color: $primaryColor;
  color: $white;


  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;
    height: 6.5rem;

    .logo {

      .logoLink {
        color: $white;
        cursor: pointer;
      }
    }

    .navigation {
      height: 100%;

      .navList {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 6.5rem;


        .navItem {
          text-align: center;

          .cart {
            position: relative;
            padding: 0 1rem;

            .cartIcon {
              cursor: pointer;
              height: 6.3rem;
            }

            .cartQuantity {
              position: absolute;
              top: 10px;
              right: 0;
              background-color: $black;
              border-radius: 50%;
              color: white;
              width: 20px;
              height: 20px;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 3px;

              .items {
                padding: 3px;
              }
            }

            .cartModal {
              position: absolute;
              top: 48px;
              right: 0;
              z-index: 4;
              width: 500px;
              color: $black;
            }

            .emptyCartModal {
              position: absolute;
              top: 48px;
              right: 0;
              z-index: 4;
              width: 200px;
              color: $black;
            }
          }

          .user {
            position: relative;
            padding: 0 1rem;
            height: 6.3rem;

            .userIcon {
              cursor: pointer;
              height: 6.3rem;
            }

            .userModal {
              position: absolute;
              top: 48px;
              right: 0px;
              z-index: 4;
              width: 200px;
              color: $black;
              border: none;
            }
          }

          .navLink {
            text-align: center;
            font-size: 1.8rem;
            color: $white;
            font-weight: bolder;
            text-transform: uppercase;
            padding: 2rem 1rem 2.1rem 1rem;
          }
        }
      }
    }
  }
}

.active {
  padding-bottom: 1px;
  border-right: 1px solid $white;
  border-left: 1px solid $white;
  text-shadow: 2px 2px 4px $secondaryColor;
  font-weight: bolder !important;
}

