@import '../../../global.scss';

.cartModalDetail {
  margin-top: 18px;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  .cartItems {
    background-color: white;
    max-height: 300px;
    overflow: auto;
    padding: 0 10px;

    .cartItem {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid #ccc;
      padding: 20px 10px;
      background-color: white;

      .itemImg {
        display: flex;
        justify-content: center;
        width: 100px;
        align-items: center;

        img {
          height: 50px;
        }
      }

      .product {
        width: 250px;
        display: flex;
        text-align: center;
        padding: 0 5px;

        a {
          font-size: 16px;
          color: $mediumText;
          font-weight: bolder;
          cursor: pointer;
          white-space: pre-wrap;
          line-height: 1.1;
          text-overflow: ellipsis; /* enables ellipsis */
          @include myHover;
        }
      }

      .quantity {
        width: 50px;
        text-align: right;
        padding: 0 5px;
        font-size: 16px;
      }
      .price {
        width: 120px;
        text-align: right;
        padding: 0 10px;
        font-size: 16px;
      }

      .deleteIcon {
        padding: 5px 10px 0px;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .checkout {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: -1px;
    border-top: 2px solid #ccc;

    .checkoutBtn {
      width: 130px;
    }
  }
}
