@import '../../global.scss';

.users {
  padding: 20px;

  .userDetail {
    width: 1000px;
    overflow: auto;
    border: 1px solild #ccc;

    @include media-breakpoint-down(md) {
      overflow: scroll;
    }
  }
}